# Day 4 Assignment 4 Data science B1 Lets upgarde

In [6]:
#QUESTION (1)
import pandas as pd
print(pd.__version__)

1.0.5

In [7]:
#QUESTION (2)
import pandas as pd
import numpy as np
#numpy array
data = np.array([1,2,3,4,5,6])
print(data)
#creating series
s=pd.Series(data)
print(s)

[1 2 3 4 5 6]
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [16]:
#QUESTION (3)
import pandas as pd
import numpy as np
data1=np.array(['Rama','Raja','King','Minister','kingdom'])
ss=pd.Series(data1)
print(ss)
pd.DataFrame(ss)

0        Rama
1        Raja
2        King
3    Minister
4     kingdom
dtype: object

          0
0      Rama
1      Raja
2      King
3  Minister
4   kingdom

In [21]:
#Question (4)
import seaborn as sns
print(sns.__version__)

0.10.1